/* src/AddMovie.css */
.add-movie {
  padding: 20px;
  text-align: center;
}

.add-movie h2 {
  margin-bottom: 20px;
}

.form-group + .form-group {
  margin-top: 15px; /* Adds space between consecutive form groups */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e6b800;
}
